/Apps/api/node_modules
/Apps/Kids/node_modules
/Apps/Pro/node_modules
/Apps/site/node_modules
/Apps/Tutors/node_modules
/.cursor
.expo
/.expo
/api/node_modules
/Kids/node_modules
/logs
/Pro/dist
/Pro/node_modules
/site/.next
/site/node_modules
/site/out
/Tutors/node_modules
